name: afa

on:
  schedule:
    - cron: "23 7 * * 1-5"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-22.04
    env:
      APP_SECRET_JSON: ${{ secrets.APP_SECRET_JSON }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: python main.py
